.rotulo {
    width: 900px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background: #ddddff;
    font: bold 26px Arial, Verdana;
    border: 5px solid #000080;
    border-radius: 20px;
}

main {
    width: 1100px;
    margin: 20px auto;
    background: #eeeeff;
    position: relative;
    overflow: auto;
}

.contenedor {
    position: absolute;
    top: 0px;
    width: 500px;
    height: 380px;
}

.contenedorsuperior {
    width: 500px;
    height: 330px;
}

.contenedorinferior {
    width: 500px;
    height: 40px;
    padding-top: 10px;
    background-color: rgba(200, 200, 200, 0.8);
    text-align: center;
    font: bold 26px Arial, Verdana, sans-serif;
}

.contenedor:hover {
    top: -50px;
}


.caja1 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja2 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja3 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja4 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja5 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja6 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja7 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja8 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja9 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja10 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja11 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}
.caja12 {
    width: 300px;
    height: 230px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    float: left;
}