.borde1{
    font: 40px Arial;
    background: #ddddff;
    width: 400px;
    height: 100px;
    border: 1px solid;

    
}
.borde2{
    font: 40px Arial;
    background: #ffff80;
    width: 400px;
    height: 100px;
    border: 1px solid;

}


