main {
    width: 800px;
    overflow: auto;
    margin: 20px auto;
    padding: 10px;
    background: #eeeeff;
    color: #000080;
    font: normal 26px Arial;
    text-align: justify;
}

header,
footer {
    width: 900px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background: #ccccff;
    color: #000080;
    font: bold 26px Arial,
        Verdana;
    border: 5px solid #000080;
    border-radius: 20px;
}
main img{
    margin:5px ;
    float:left;
}
.saltoparrafo{
    clear:both;
}